/**
*
* Testing
*
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --white: rgb(202, 202, 202);
  --black: rgb(22, 22, 22);
  --color1: rgb(1, 119, 191);
  --color2: #0b3bd9;
  --color3: #0a2648;
  --button: rgba(29, 83, 0, 0.816);
}

a {
  text-decoration: none;
  color: var(--white);
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: transparent;
  color: var(--white);
  font-size: 20px;
  background-color: var(--button);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color3);
  font-family: "Poppins", sans-serif;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

header nav {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: var(--color3);
  color: var(--white);
  font-size: 1rem;
  padding: 0 20px 0;
}
header nav .logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
header nav #navLinks {
  display: flex;
}
header nav #navLinks li {
  padding: 10px;
}
header nav #navLinks li a {
  color: var(--white);
}
header nav #navLinks li a:hover {
  text-decoration: underline;
}
header nav .contact {
  display: flex;
  flex-direction: column;
}
header nav .contact a {
  color: var(--white);
}
header nav .contact .social {
  display: flex;
  justify-content: center;
}
header nav .contact .social li {
  margin-left: 5px;
}
header nav .contact .social li a {
  color: var(--white);
}

#hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(img/cameraInstall2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero .heroText {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
#hero .heroText h1 {
  color: var(--white);
  font-size: 4.5rem;
}
#hero .heroText p {
  color: var(--white);
  font-size: 1.5rem;
}
#hero .heroText .button {
  cursor: pointer;
}

#section1 {
  height: 100vh;
  width: 100%;
}
#section1 .banner {
  text-align: center;
  color: var(--white);
  padding: 40px;
}
#section1 .banner h2 {
  font-size: 3rem;
}
#section1 .banner p {
  font-size: 1rem;
}
#section1 .services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color3);
}
#section1 .services .serviceBox {
  width: 400px;
  transition: 0.5s ease;
  cursor: pointer;
  overflow: hidden;
}
#section1 .services .serviceBox:hover {
  opacity: 0.6;
}
#section1 .services .serviceBox img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in;
  overflow: hidden;
}
#section1 .services .serviceBox p {
  color: var(--white);
  z-index: 10;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

#section2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/cameraInstall.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: var(--white);
  padding: 40px;
}
#section2 h2 {
  font-size: 3rem;
}
#section2 p {
  width: 70%;
  margin: auto;
  font-weight: 400;
}

#section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#section3 .reviewIcons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
#section3 .reviewIcons .icon {
  display: flex;
  flex-direction: column;
  color: var(--white);
  width: 200px;
  height: 200px;
}
#section3 .reviewContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
#section3 .reviewContainer .reviewBox {
  width: 300px;
  min-height: 600px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  margin: 20px 20px;
  padding: 10px 20px;
  align-items: center;
  text-align: center;
}
#section3 .reviewContainer .reviewBox:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/testimonial1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section3 .reviewContainer .reviewBox:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/testimonial2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section3 .reviewContainer .reviewBox:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/testimonial3.jpg);
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section3 .reviewContainer .reviewBox h3 {
  margin: 20px;
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
  padding: 10px 20px;
}
#section3 .reviewContainer .reviewBox p {
  font-size: 1rem;
  color: var(--white);
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  text-align: center;
  color: var(--white);
}
#section4 img {
  width: 300px;
}
#section4 .contactInfo {
  display: flex;
  justify-content: center;
}
#section4 .contactInfo li {
  padding: 10px;
}
#section4 .formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section4 .formContainer input {
  color: var(--white);
  width: 400px;
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
  background-color: transparent;
}
#section4 .formContainer textarea {
  color: var(--white);
  width: 400px;
  padding: 10px;
  height: 100px;
  font-size: 1rem;
  margin: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--white);
  padding-top: 50px;
}
footer .social {
  display: flex;
  justify-content: center;
}
footer .social li {
  margin-left: 5px;
}
footer .social li a {
  color: var(--white);
}
footer .copyright {
  padding: 10px;
  color: var(--white);
  background-color: var(--color3);
}

#gHero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(img/cameraInstall2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gHero .gHeroText {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
#gHero .gHeroText h1 {
  color: var(--white);
  font-size: 4.5rem;
}
#gHero .gHeroText p {
  color: var(--white);
  font-size: 1.5rem;
}
#gHero .gHeroText .button {
  cursor: pointer;
}

#gSection1 {
  margin-top: 20px;
}
#gSection1 .gContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#gSection1 .gContainer img {
  padding: 5px;
}

#contactHero .contactHeroText {
  height: 100vh;
  background-image: url(img/contactBanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.contact .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.contact .form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .form h3 {
  text-align: center;
  color: var(--white);
}
.contact .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .form form input {
  color: var(--white);
  width: 400px;
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
  background-color: transparent;
}
.contact .form form textarea {
  color: var(--white);
  width: 400px;
  padding: 10px;
  height: 100px;
  font-size: 1rem;
  margin: 5px;
}/*# sourceMappingURL=style.css.map */