* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --white: rgb(202, 202, 202);
    --black: rgb(22, 22, 22);
    --color1: #6688fa;
    --color2: #0b3bd9;
    --color3: #0a2648;
    --button : rgba(29, 83, 0, 0.816);
}

a {
    text-decoration: none;
    color: var(--white);
}

.button {
    padding: 10px;
    border-radius: 5px;
    border: transparent;
    color: var(--white);
    font-size: 20px;
    background-color: var(--button);
}


textarea {
    width: 400px;
    padding: 10px;
    height: 200px;
    font-size:.8rem;
    margin: 5px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color3);
    font-family: 'Poppins', sans-serif;
    // this is for scrolling snap. each section will have scroll-align: start
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}


header {
    nav {
        border-bottom: 5px solid black; //remove later?
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
        // position: fixed; //ask if he wants it to be fixed or not
        background-color: var(--color3);
        color: var(--white);
        font-size: 1rem;
        padding: 0 20px 0;
        .logo {
            img {
                width: 150px;
                height: 50px;
                cursor: pointer;
            }
        }
        #navLinks {
            display: flex;
            li {
                padding: 10px;
                a {
                    color: var(--white);
                    // transition: 3s ease;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .contact {
            display: flex;
            flex-direction: column;
            a {
                color: var(--white);
            }
            .social {
                display: flex;
                justify-content: center;
                li {
                    margin-left: 5px;
                    a {
                        color: var(--white);
                    }
                }
            }
        }
    }
    #hero {
        height: 100vh;
        // background-image: url(img/cctv.jpg);
        background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(img/contactBanner.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .heroText {
            width: 90%;
            margin: 0 auto;
            text-align: left;
            h1 {
                color: var(--white);
                font-size: 4.5rem;
            }
            p {
                color: var(--white);
                font-size: 1.5rem;
            }
            .button {
                cursor: pointer;
            }
        }
    }
}

#section1 {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    .banner {
        text-align: center;
        // background-color: var(--color3);
        color: var(--white);
        padding: 40px;
        h2 {
            font-size: 3rem;
        }
        p {
            font-size: 1rem;
        }
    }
    .services {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: var(--color3);
        .serviceBox {
            width: 400px;
            position: relative;
            transition: .5s ease;
            cursor: pointer;
            overflow: hidden;
                &:hover {
                transform: scale(1.1);
                }
            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                transition: .3s ease-in;
            }
            span {
                // display: none;
                color: var(--white);
                z-index: 10;
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translateY(-50%);
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 2rem;
                font-weight: 600;
                &:hover {
                    display: block;
                }
            }
            &:hover {
                opacity: .6;
            }
        }
    }
}

#section2 {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/cameraInstall.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    text-align: center;
    color: var(--white);
    padding: 40px;

    h2 {
        font-size: 3rem;
    }
    p {
        width: 70%;
        margin: auto;
        font-weight: 400;
    }
}

#section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .reviewIcons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        .icon {
            display: flex;
            flex-direction: column;
            color: var(--white);
            width: 200px;
            height: 200px;
        }
    }
    .reviewContainer {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        .reviewBox {
            width: 300px;
            min-height: 600px;
            border: 1px solid;
            display: flex;
            flex-direction: column;
            letter-spacing: 1px;
            margin: 20px 20px;
            padding: 10px 20px;
            // justify-content: center;
            align-items: center;
            text-align: center;
            &:nth-child(1) {
                background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(img/testimonial1.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(2) {
                background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(img/testimonial2.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(3) {
                background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(img/testimonial3.jpg);
                background-position: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            h3 {
                margin: 20px;
                font-size: 2rem;
                font-weight: 500;
                color: var(--white);
                padding: 10px 20px;
            }
            p {
                font-size: 1rem;
                color: var(--white);
                margin-bottom: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
    }
}

#section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    text-align: center;
    color: var(--white);
    img {
        width: 300px;
    }
    .contactInfo {
        display: flex;
        justify-content: center;
        li {
            padding: 10px;
        }
    }
    // .formContainer {
    //     width: 600px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     input {
    //         width: 400px;
    //         padding: 10px;
    //         margin: 5px;
    //         font-size:.8rem;
    //     }
    // }
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    padding-top: 50px;
    .social {
        display: flex;
        justify-content: center;
        li {
            margin-left: 5px;
            a {
                color: var(--white);
            }
        }
    }
    .copyright {
        padding: 10px;
        color: var(--white);
        background-color: var(--color3);
    }
}

// Contact Page

.contactHero {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(img/cctv.jpg) !important;
    .contactHeroText {
        h1{
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}